@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #121212; */
    /* background-color: #080808; */
    font-family: 'Open Sans', sans-serif;
 }
::-webkit-scrollbar{
    display: none;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.opensans{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.nav{
    z-index: 1000;
    /* background-color: rgb(50, 50, 50); */
    background-color: rgba(43, 42, 47, 0.485);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.nav-after{
    z-index: 1000;
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.border-custom{
    border: 2px solid rgba(255, 255, 255, .1);
}
.border-custom:hover{
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.3s ease;
}
.home{
    background: url('./assets/home.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.overlay{
    background-color: rgba(43, 42, 47, .7)
}
.section-one{
    /* background-color: #121212; */
    background-color: #292929;
}
.section-two{
    background-color: #323232;
}
button:active{
    scale: 0.9;
    transition: 0.2s all ease;
}
.main-theme-bg{
    background-color: #16c0f0;
}
.main-theme-text{
    color: #16c0f0;
}
.primary-color{
    color: #ffffff;
}
.secondary-color{
    color: #333333;
}
.flex-pack{
   @apply flex justify-between items-center 
}

  
 .fill-up-button{
    border: 2px solid #16c0f0;
 }
  .fill-up-button:hover{
    color: #16c0f0;
    background-color: transparent;
    transition: 0.3s all ease;
  }