@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}
body{
    /* background-color: #121212; */
    /* background-color: #080808; */
    font-family: 'Open Sans', sans-serif;
 }
::-webkit-scrollbar{
    display: none;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.opensans{
    font-family: 'Open Sans', sans-serif;
}
.containers{
    max-width: 1200px;
    margin: auto;
}
.nav{
    z-index: 1000;
    /* background-color: rgb(50, 50, 50); */
    background-color: rgba(43, 42, 47, 0.485);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.nav-after{
    z-index: 1000;
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.border-custom{
    border: 2px solid rgba(255, 255, 255, .1);
}
.border-custom:hover{
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.3s ease;
}
.border-second{
    border: 2px solid rgba(255, 255, 255, .1);
}
 /* .home{
    /* background: url('./assets/home.jpg') center center no-repeat fixed; */ 
    /* background: url('./assets/Ujjwal3.jpg') center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh; */
/* } */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.home{
    /* background: url('./assets/Ujjwal3.jpg') center no-repeat fixed;
    background-size: cover; */
    position: relative;
    height: 100vh;
}
.image-div{

    background: linear-gradient(-50deg, rgba(170, 170, 170, .1) 45%, transparent 25%);
}
.about-image{
    /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  opacity: 65%;
  padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}
.overlay{
    background-color: rgba(43, 42, 47, 0.616)
   /* background-color: rgba(43, 42, 47, 0.714) */

}
.section-one{
    /* background-color: #121212; */
    background-color: #292929;
}
.section-two{
    background-color: #323232;
}
.button:active{
    scale: 0.9;
    transition: 0.2s all ease;
}
.main-theme-bg{
    background-color: #16c0f0;
}
.main-theme-text{
    color: #16c0f0;
}
.primary-color{
    color: #ffffff;
}
.secondary-color{
    color: #333333;
}
.third-color{
    color: #c3c0c3;
}
.flex-pack{
   @apply flex justify-between items-center 
}
.elements-center{
    @apply flex justify-center items-center
}
  
 .fill-up-button{
    border: 2px solid #16c0f0;
 }
  .fill-up-button:hover{
    /* color: #16c0f0; */
    background-color: transparent;
    transition: 0.3s all ease;
  }

  .main-title {
    color: #fff;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .7px;
    line-height: 1;
    margin: 0;
    padding-bottom: 15px;
}
.contact-details{
    position: relative;
    background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 24px;
}
.triangle-down {
    position: absolute;
    left: 50%;
    bottom: -10px; /* Adjust this value as needed */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #16c0f0; /* Change color if needed */
    transform: translateX(-50%);
  }
  
.contact-text{
    @apply pt-4 font-[600] text-center text-[#c3c0c3] text-[13px]
}

/* .form label{
    position: absolute;
    left: 25px;
    color: #c3c0c3;
    font-size: 14px;
    transition: 0.3s all ease;
}
.form input,.form textarea{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}
.form input:focus + label{
    top: -5px;
    transition: 0.3s all ease;
    border-bottom: 1px solid #16c0f0
} */
.input-group{
    position: relative;
}
.input{
    color: #c3c0c3;
    padding: 15px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}
.input:focus{
    outline: none;
}
.button-2{
    @apply text-white font-[600] w-full rounded-3xl main-theme-bg py-2 cursor-pointer
}
.button-hover:hover{
    @apply bg-[#319be6];
    transition: 0.4s all ease;
}
.skills-text{
    color: white;
    font-weight: 600;
}
.custom-shadow{
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.305);
}
@media (max-width:1000px){
    .skills-card{
        justify-content: center;
    }
}

.hover-card:hover .overlay-project{
height: 100%;
transition: all ease 0.3s;
}

.personal-info div{
    position: relative;
    color: #c2c0c3;
    margin-bottom: 18px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .7px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.personal-info div span{
    color: #fff;
    background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
padding: 7px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.personal-info div span::before{
    content: '';
    background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
    width: 2px;
    height: 24px;
    position: absolute;
    top: 33px;
    left: 16px;
}
.personal-info div .last::before{
    content: '';
    width: 0;
}

.personal-info .social-media{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    height: 70%;
    width: 35px;
    background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
    text-align: center;
}
.personal-info .social-media::before{
    content: '';
    position: absolute;
    top: -14px;
    left: 23px;
    border-right: 12px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 9px solid #23849e;
}
.personal-info .social-media::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 23px;
    border-right: 12px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 9px solid #23849e;
}

/*  */
/* .placeholder{
    color: #c3c0c3;
    position:absolute;
    top: 5px;
    left: 15px;
  font-size: 14px;
transition: 0.3s;
pointer-events: none;
} */
/* 
.input:focus + .placeholder{
    color: #c3c0c3;
    position:absolute;
    top: -15px;
    left: -10px;
  font-size: 14px;
transition: 0.3s;
pointer-events: none; */
/* } */